*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #80deea;
    color: black;
    font-weight: bold;
}


.transf {
    transition: all 1s ease; }
    
  
  .boxSha {
    box-shadow: 0 0 25px #f9faf8; }
    .boxSha:hover {
      box-shadow: 0 0 5px #b4ffff, 0 0 25px #b4ffff, 0 0 50px #b4ffff, 0 0 100px #b4ffff; }

      .btn{
        background-color: #b4ffff;
      }
      .btn:hover{
        background-color: #80deea;
      }
  

footer{
    background-color: #80deea;
}
    footer .container-fluid ul {
        list-style: none;
        text-align: center; 
    }
        footer .container-fluid ul li {
          display: block;
          padding: 2px; 
        }
          footer .container-fluid ul li a {
            text-decoration: none;
            color: #080808; 
        }
            footer .container-fluid ul li a:hover {
              font-weight: bold;
              color: black; 
            }
